{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Create Question and Answer</h1>

    {{ form(form) }}

    <a class="record_actions"> <br>
    
        <a class="btn btn-default btn-xs" href="{{ path('questionanswer') }}">
            Back to the list
        </a>
    
</a>
{% endblock %}
